################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WorkspaceAutomator/.vs/WorkspaceAutomator/FileContentIndex/171626f6-f3f6-4f49-a2dd-a0ddbe6e73f4.vsidx
/WorkspaceAutomator/.vs/WorkspaceAutomator/FileContentIndex
/WorkspaceAutomator/.vs
/WorkspaceAutomator/bin
/WorkspaceAutomator/obj